In [2]:
import pandas as pd
import requests
import time
import plotly as py
import plotly.graph_objs as go

In [4]:
attacks = pd.read_csv("attacks_ready_to_plot.csv", encoding='utf-8')

In [5]:
attacks.head()

,order_id,date_case,country,area,location,type,activity,species
0,6303.0,2018.06.25,USA,California,"Oceanside, San Diego County",Boating,Paddling,white shark
1,6302.0,2018.06.18,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,NaN
2,6301.0,2018.06.09,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,NaN
3,6300.0,2018.06.08,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,2 m shark
4,6299.0,2018.06.04,MEXICO,Colima,La Ticla,Provoked,Free diving,"tiger shark, 3m"

GEOCODE DOESN'T WORK PROPERLY TO ME IN THIS CHALLENGE.

In [7]:
dict_area = {}
unique_areas = set()


for area in col_area_list:
    dict_area[area] = col_area_list.count(area)
    unique_areas.add(area)

NameError: name 'col_area_list' is not defined

In [6]:
values = dict_area.values()
values_list = list(values)
values_list.sort(reverse = True)
values_list = values_list[:5]

#values_list

areas_attack = []
for k,v in dict_area.items():
    if v in values_list:
        areas_attack.append(k)

areas_attack

NameError: name 'dict_area' is not defined

In [1]:
#def geocode(address, coordinates):
 #   """
  ##  Saca las coordenadas de una direcci√≥n que le des.
    #"""
    #if coordinates == None:
     #   data = requests.get(f"https://geocode.xyz/{address}?json=1").json()
      #  print(data)
       # if "longt" in data and "latt" in data:
        #    return data["longt"] + " " + data["latt"]
        #else:
         #   return None
   # else:
    #    return coordinates

In [ ]:
#lst = []
#for area in areas_attack:
 #   a = geocode(area)
  #  time.sleep(10)
   # lst.append(a)

In [ ]:
#lst

#California
#Hawaii
#South Wales
#Florida
#Australia

In [ ]:
attacks2 = attacks.area.value_counts().rename_axis('areas').reset_index(name='counts')
attacks2 = attacks2.head(6)

attacks2

In [ ]:
attacks2["coordinates"] = attacks2.apply(lambda x: "")
attacks2

In [ ]:
#df['age']=df.apply(lambda x: x['age']+3,axis=1)

attacks2["coordinates"] = attacks2.apply(lambda x: geocode(x["areas"], x["coordinates"]), axis=1)

In [ ]:
attacks2

In [ ]:
attacks2.loc[attacks2['areas'] == 'Western Australia', 'coordinates'] = '-25.042261, 117.793221'

In [ ]:
attacks2[['longitude','latitude']] = attacks2.coordinates.str.split(" ",expand=True,)

In [ ]:
attacks2